/* =================== RESET =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

iframe {
  width: 28rem;
  height: 17rem;
}

.image {
  /* width: 90%; */
  height: 100%;
}

/* =================== VARIABLES =================== */
:root {
  --header-height: 4.5rem;
  /* colors */
  --hue: 45;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  /*Fonts*/
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;

  --header-color: white;
}

/* =================== BASE =================== */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  background: var(--body-color);
  color: var(--text-color);
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding-inline: 2rem;
  border-radius: 0.25rem;
  font: 500 1rem "DM Sans", sans-serif;

  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    var(--base-color) 0%,
    var(--base-color-second) 100%
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    var(--base-color-second) 0%,
    var(--base-color) 100%
  );
}

/* =================== LAYOUT =================== */
.logo img {
  display: block;
  width: 10rem;
}

.container {
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding-block: 5rem;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--header-color);
}

#header.scroll {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/* =================== NAVIGATION =================== */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  position: relative;
  transition: color 0.3s;
}

nav ul li a:hover,
#header nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  scale: 0.1;
  rotate: -90deg;
  right: 1.5rem;

  transition: 0.3s;
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  scale: 1;
  rotate: 90deg;
}

/* =================== HOME =================== */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
  max-width: 600px;
}

#home .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -17%;
  left: 17%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image::before,
#home .image img {
  border-radius: 0.5rem;
}

#home .text {
  margin-inline: 1.5rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
}

/* =================== ABOUT =================== */
#about {
  background: white;
}

#about .container {
  margin: 0;
}
#about .image {
  position: relative;
  max-width: 600px;
}

#about .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -10%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image::before,
#about .image img {
  border-radius: 0.5rem;
}

#about .text {
  margin-inline: 1.5rem;
}

#about .video {
  margin-top: 2rem;
  margin-inline: auto;
}

/* =================== services =================== */
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.6rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* =================== TESTIMONIALS =================== */
#testimonials {
  background: white;
}

#testimonials .container {
  margin-inline: 0;
}

#testimonials header {
  margin-inline: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  color: var(--base-color);

  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.swiper-slide {
  height: auto;
  padding: 4rem 1.5rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/* =================== CONTACT =================== */
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact ul li i,
#contact .button i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

#contact ul li a {
  color: var(--text-color);
}

#contact ul li a:hover {
  text-decoration: underline;
}

/* =================== FOOTER =================== */
footer {
  background: var(--base-color);
}

footer .container.grid {
  gap: 1rem;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer .social {
  display: flex;
  gap: 2rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  border-radius: 50%;

  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: scale(0);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

/* =================== RESPONSIVIDADE =================== */

@media (min-width: 768px) {
  .container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .section header,
  #testimonials header {
    margin-left: auto;
    margin-right: auto;
  }
  /* Abrir Menu */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
  }
  nav .icon-menu {
    display: none;
  }

  /* Home */
  #home .container {
    margin: 0 auto;
  }

  /* About */
  #about .text,
  #about .container {
    margin: 0 auto;
  }

  /* Testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    padding: 4rem 1rem;
  }

  /* Services */
  .cards {
    grid-template-columns: 1fr 1fr;
  }


  /* Contact */
  #contact .container {
    justify-content: space-between;
  }

  /* #contact ul.grid {
    display: flex;
    flex-direction: row;
  } */

  /* Footer */
  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
  }

  nav .icon-menu {
    display: none;
  }
  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* about */
  #about .container {
    /* grid-auto-flow: column; */
    grid-template-areas: 'image text'
    'video video';
    margin: 0 auto;
    justify-content: space-between;
  }

  #about .video {
    margin-top: 4rem;
    grid-area: video;
  }

  #about iframe {
  width: 42rem;
  height: 25rem;
}

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding: 3rem 2rem;
  }

  /* testimonials */
  #testimonials .container {
    margin: 0 auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}